:root {
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-orange: #f9ab00;
}

body {
  font-family: sans-serif;
}

/***************NAVBAR*********************/

.nav-pill a:active, a.active:hover {
  background-color: red;
}

/***************NAVBAR LINKS*********************/

a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

span.navbar-toggler-icon {
  border-top: solid var(--primary-orange);
  border-bottom: solid var(--primary-orange);
}

/************************HEADER**************************/

.header-wrapper {
  position: relative;
  background: url(./components/images/horizon-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.main-info h1 {
  color: aliceblue;
  text-transform: uppercase;
}

/************************ABOUT ME************************* */

.border-line {
  border: solid black;
  width: 125px;
  margin-left: 0;
}

/************************CONTACT FORM************************* */
.form-group {
  width: 500px;
  margin: 0 auto 0 auto;
}